{% extends "base.html" %}

{% block content %}
{% load static %}
  <div> 
    <h4> Guest Book for Globtrotters and Dreamers...</h4>
    <br>
    <h5> Themes: </h5>
  </div>
  <div class="row">
    {% for guestbook in guestbook_list %}
          <div class="">
            <h6 class=""> <img src="{% static 'img/logo.png' %}" width="17" height="17" class="d-inline-block align-top" alt="">
            <a href="{% url 'guest_book_posts' guestbook.id %}">{{ guestbook.theme }}</a> - {{ guestbook.theme_description }} </h6>
          </div>
        </div>
     </div>
  </div>
    {% empty %}        
      <p> No themes yet. </p>
    {% endfor %}
{% endblock %}
