{% extends "base.html" %}
{% load static %}

{% block content %} 
  <div class="">
    <h4 class=""> <img src="{% static 'img/logo.png' %}" width="22" height="22" class="d-inline-block align-top" alt=""> {{ guestbook.guestposts.count}} posts in
    <a style="color: blue"> {{ guestbook.theme }}</a></h4>
  </div> 
    {% if guestbook.guestposts.all %}
        {% for guest in guestbook.guestposts.all %}
        <ul>
          <li> <strong> {{ guest.user }} </strong>: {{guest.post }} </li>
          <hr>
        </ul>
        {% endfor %}
    {% else %}
      <p>No posts yet.</p>
    {% endif %}
  </br>
  <div> 
  </div>
  <div> 
  {% if user.is_authenticated %}
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
    </form>
  </div>
  {% empty %}
  <li> Photos coming soon... </li>
  {% endfor %}
</ul>
</div>
{% endblock content %}


