{% extends "base.html" %}

{% block content %}
{% load static %}
  <div> 
    <h2> Trips / {{ trips_count }} amazing life experiences ...</h2>
  </div>
  <div>
      <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
      <input name="query" class="form-control" type="text" placeholder="Search for a trip...">
      <button type="Search">Search</button></form>
  </div>
  <div class="row">
    {% for trip in trips_list_ordered %}
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h6 class="card-text"><a href="{% url 'trip_photos' trip.id %}">{{ trip.continent }}: Trip to {{ trip.city }}, {{ trip.country }} / {{trip.date}} /</a></h6>
          </div>
        <a href="{% url 'trip_photos' trip.id %}"> <img src="{{ trip.cover.url }}" class="card-img-top" alt="..."></a>
        </div>
     </div>
  </div>
    {% empty %}        
      <p> The list is empty ... </p>
    {% endfor %}
{% endblock %}


